{% extends 'layout.html' %}

{% block body %}
<form action="/update/{{ contact.0 }}" method="POST">
  <div class="mb-3">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="fullname" placeholder="Fullname" value="{{ contact.1 }}">
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="phone" placeholder="Phone" value="{{ contact.2 }}">
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="email" placeholder="Email" value="{{ contact.3 }}">
  </div>

  <button class="btn btn-primary" type="submit">
    SAVE
  </button>
</form>
{% endblock %}